.category-card {
  width: 100%;
  border: 1px solid $borderColor;
  cursor: pointer;

  .img-container {
    height: 180px;
    padding: 10px;
    background-color: $backgroundColor;

    @media screen and (max-width: 575px) {
      height: 100px;
    }

    .img-wrapper {
      height: 100%;
      width: 100%;
      overflow: hidden;
    }

    img {
      height: 100%;
      width: 100%;
    }
  }

  .text-container {
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
  }
  &:hover {
    .img-container img {
      transition: all 0.3s ease-in-out;
      transform: scale(1.2);
    }
    .text-container {
      color: $accentColor;
    }
  }
}

.product-card {
  width: 100%;
  position: relative;
  /* box-shadow: 0 2px 7px #dfdfdf; */
  margin: 0 auto;
  background: #fafafa;
  cursor: pointer;
  outline: 1px solid #dfdfdf;

  .badge {
    position: absolute;
    left: 0;
    top: 20px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    background: red;
    color: #fff;
    padding: 3px 10px;
  }

  .product-details {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 140px;

    @media screen and (max-width: 575px) {
      height: 100px;
      padding: 5px 5px 0px 5px;
    }

    .product-name {
      text-decoration: none;
      font-weight: 500;
      display: block;
      text-transform: uppercase;
      color: $black;
      text-decoration: none;
      transition: 0.3s;
      font-weight: bold;
      cursor: pointer;

      @media screen and (max-width: 575px) {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 12px;
      }
    }

    .desc {
      font-size: 15px;
      color: #999;
      font-weight: lighter;
      text-overflow: ellipsis;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;

      @media screen and (max-width: 575px) {
        font-size: 10px;
      }
    }

    .product-catagory {
      display: block;
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
      color: #ccc;
      // margin-bottom: 18px;
    }

    .product-bottom-details {
      overflow: hidden;
      border-top: 1px solid #eee;
      padding-top: 10px;
      display: flex;
      justify-content: space-between;

      @media screen and (max-width: 575px) {
        margin-top: 5px;
        padding-top: 0;
      }

      .product-price {
        font-size: 18px;
        color: $primaryColor;
        font-weight: 600;

        @media screen and (max-width: 575px) {
          font-size: 14px;
        }

        small {
          font-size: 80%;
          font-weight: 400;
          text-decoration: line-through;
          display: inline-block;
          margin-right: 5px;
          color: $primaryColor;
        }
      }

      .product-links {
        text-align: right;

        .icon {
          display: inline-block;
          margin-left: 5px;
          color: #e1e1e1;
          transition: 0.3s;
          font-size: 17px;
          cursor: pointer;

          @media screen and (max-width: 575px) {
            font-size: 14px;
          }

          &:hover {
            color: $accentColor;
          }
        }
      }
    }
  }

  &:hover {
    .product-tumb img {
      transform: scale(1.2);
    }

    .product-name, .product-bottom-details .product-price {
      color: $accentColor;
    }
  }

}

.product-listing {
  padding-top: 0;
  width: 100%;
}

.listing-page {
  display: flex;
}

.img-container {
  height: 180px;
  padding: 10px;
  background-color: $backgroundColor;

  @media screen and (max-width: 575px) {
    height: 100px;
  }

  .img-wrapper {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  img {
    height: 100%;
    width: 100%;
  }
}