@import url("https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Hind+Siliguri:wght@300;600&display=swap");

$primaryColor: #c8b3a3;
$accentColor: #99775C;
$black: #474747;
$borderColor: #eee;
$backgroundColor: #f0f0f0;
$primaryFont: "Hind Siliguri", sans-serif;
$secondaryFont: "Covered By Your Grace", cursive;

@import "./styles/_commen.scss";
@import "./styles/_footer.scss";
@import "./styles/_homepage.scss";
@import "./styles/_cards.scss";
@import "./styles/_productDetail.scss";
@import "./styles/_login.scss";
@import "./styles/_filters.scss";

body {
  margin: 0;
  font-family: $primaryFont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 1.2px;
  color: $black;
}